.e3{
	width: 100%;
	height: auto;
}
.img{
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: #333;
}
.lleno1{
	width: 80%;
	height: auto;
	margin: 0 auto; 

}
.lleno1 video{
	width: 80%;
	background-color: black;
}
.lleno1 h2{
	padding-top: 10px;
	font-size: 60px;
	padding: 20px;
}
.lleno1 p{
	text-align: center;
	padding: 10px;
	font-size: 20px;
	color: white;
	font-family: 'Kaushan Script', cursiva;
}
/**/